<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

        <% items.forEach(item => { %>
            <div class="cart-items">
                <div class="cart-item">
                    <h1> <%= item.item_name %> </h1>
                    <h3> Price: <%= item.price %> €</h3>
                    <p> Amount: <%= item.amount %> </p>
                </div>
            </div>     
        <% }) %>
        <% if(items.length === 0) { %>
            <center>
                <h5> There are no items in your cart </h5>
                <a href="/">Back to shopping</a>
            </center>
        <% } %>
 	</body>
</html>