<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

        

        <% if(items.length === 0) { %>
            <center>
                <h5> There are no items in your cart </h5>
                <a href="/">Back to shopping</a>
            </center>
        <% } else { %>
            <% let total = 0 %>
            <% let amount = 0 %>
            <% let cart = []; %>
            <% let index = 0 %>
    
            <div class="cart-items">
            <% items.forEach(item => { %>
                <% let item_price = parseFloat(item.price) * parseFloat(item.amount) %>
                <% total = total + item_price %>
                <% amount = amount + parseInt(item.amount) %>
                <% index = index +1 %>
    
                    <div class="cart-item">
                        <% const imageUrl = '/images/'+item.image_name %>
                        <img class="cart_image" src=<%= imageUrl %> alt=<%= item.item_name %> height=125px width=125px> 
                        <a href=<%=item.item_id%>> <h1> <%= item.item_name %> </h1> </a>     
                        <h3> Price: <%= item.price %> /item</h3>
                        <p> Amount: <%= item.amount %> </p>
                    </div>
    
                <% const body = { "id": item._id, "amount": item.amount } %>
                <% cart.push(body) %> 
            <% }) %>
            </div>   
                
            <div class="cart-buy">
                <h3>Subtotal <%= total %>€</h3>
                <h3> <%= amount %>  item(s)</h3>
                <p> FREE SHIPPING </p>
                <% let i = 0 %>
                <form action="/pay" method="post">
                    <input type="hidden" name="subtotal" value="<%= total %>">    
                    <% items.forEach(item => { %>
                        <input type="hidden" name="body[<%= i %>][id]" value="<%= item.item_id %>">
                        <input type="hidden" name="body[<%= i %>][amount]" value="<%= item.amount %>">
                        <% i = i +1 %> 
                    <% }) %>
                    <input type="submit" value="buy" background-color="red">
                </form> 
                <p> We Accept: </p>
                <img src="/images/PayPal.png" height="30px" width="100px">
            </div>
        <% } %>
 	</body>
</html>