<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

        <% data.forEach(order => { %>
            <div class="orders">
                <div class="order">
                    <div class="order_item">
                        <% order.array.forEach(item => { %>
                            <% const imageUrl = '/images/'+item.item_.image_name.toString() %>
                            <img class="logo" src=<%= imageUrl %> alt=<%= item.item_.title %> height=125px width=125px>   
                            <%= item.item_.title %>
                           | Quantity: <%= item.amount %>
                        <% }) %>
                    </div>
                    <div class="order_info">
                        <h3> Cost: <%= order.order.subtotal %> €</h3>
                        <h2> Address: <%= order.order.address %> </h2>
                        <p> Order id: <%= order.order._id %> </p>
                    </div>
                    
                </div>
            </div>     
        <% }) %>
        <% if(data.length === 0) { %>
            <center>
                <h5> There are no orders here </h5>
                <a href="/">Back to shopping</a>
            </center>
        <% } %>
        
        

		<!-- <main role="main" class="container">
            
    	</main> -->
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>