<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

        <% orders.forEach(order => { %>
            <div class="orders">
                <div class="order">
                    <h1> <%= order.item_name %> </h1>
                    <h3> Price: <%= order.item_price %> €</h3>
                    <h2> Address: <%= order.address %> </h2>
                    <p> Order id: <%= order._id %> </p>
                </div>
            </div>     
        <% }) %>
        <% if(orders.length === 0) { %>
            <center>
                <h5> There are no orders here </h5>
                <a href="/">Back to shopping</a>
            </center>
        <% } %>
        
        

		<!-- <main role="main" class="container">
            
    	</main> -->
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>