<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

        <div class="prod">
            <div class="prod_img">
                <% const imageUrl = '/images/'+data.image_name.toString() %>
                <img class="logo" src=<%= imageUrl %> alt=<%= data.title %> height=250px width=400>   
            </div>
            <div class="prod_info">
                <h1> <%= data.title %> </h1>      
                <p> <%= data.desc %> </p>                 
                <form action="/pay" method="post">
                    <input type = "hidden" name = "name" id="name" value="<%= data.title %>" />
					<input type = "hidden" name = "desc" id="desc" value="<%= data.desc %>" />
                    <input type = "hidden" name = "price" id="price" value="<%= data.price %>" />

                    <input type="submit" value="buy for <%= data.price %>">
                </form>
            </div>        
        </div>
        

		<!-- <main role="main" class="container">
            
    	</main> -->
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>