<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

        <div class="prod">
            <div class="prod_img">
                <% const imageUrl = '/images/'+data.image_name.toString() %>
                <img class="logo" src=<%= imageUrl %> alt=<%= data.title %> height=250px width=400>   
            </div>
            <div class="prod_info">
                <h1> <%= data.title %> </h1>      
                
                
                <% let amount = 0.00 %>
                <% let total = 0.00 %>

                <% data.review.forEach(review => { %>
                    <% amount = amount + 1.00 %>
                    <% total = total + parseFloat(review.rating) %>
                    <% }) %>

                <% let average = total / amount %>

                <% for(i = 0; i < Math.round(average); i++) { %>
                    <img class="star_image" src='/images/star.png' alt="star" height=25px width=25px>                         
                <% } %>

                <%= average %>

                <p> <%= data.desc %> </p>
                <h3> <%= data.price %>  </h3>     

                <form action="/addtocart" method="post">
                    <input type = "hidden" name = "id" id="id" value="<%= data._id %>" />
                    <input type="number" id="amount" name="amount" min="1" max="5" value="1" required>
                    <input type="submit" value="Add to cart">
                </form>
            </div>        
        </div>

        <br />

        <div class="reviews">
            <% if(reviews.length != 0) { %>
                <% reviews.forEach(review => { %>
                    <div class="review">
                        <% let i; %>
                        <h4><%= review.name %> gave <%= review.rating %> star(s)</h4>
                        <% for(i = 0; i < parseInt(review.rating); i++) { %>
                            <img class="star_image" src='/images/star.png' alt="star" height=25px width=25px>                         
                        <% } %>
                        <h5><%= review.title %></h5>
                        <p> <%= review.desc %> </p>
                    </div>
                <% }) %>
            <% } %>
        </div>
        

		<!-- <main role="main" class="container">
            
    	</main> -->
        
        <!-- <button onclick="SecondLast()">Click me</button> -->
	</body>
</html>